@using WebsiteBanHang.Models
@model IEnumerable<Quyen>
@{
    ViewBag.Title = "Quản lý quyền";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2>@ViewBag.Title</h2>
<div class="card">
    <div class="card-body">
        <p>
            @Html.ActionLink("Thêm mới", "TaoMoi", null, htmlAttributes: new { @class = "btn btn-sm btn-warning font-weight-bold " })
        </p>
        @if (grid != null)
        {
            <div id="list" class="table-responsive">
                @grid.GetHtml(
                tableStyle: "table table-bordered table-hover",
                headerStyle: "",
                footerStyle: "text-center",
                numericLinksCount: 10,
                mode: WebGridPagerModes.All, firstText: "Trang đầu", lastText: "Trang cuối",
                columns: grid.Columns(
                    grid.Column("MaQuyen", "Mã quyền"),
                    grid.Column("TenQuyen", "Tên quyền"),
                    grid.Column(format: p => Html.ActionLink("Chỉnh sửa", "ChinhSua", new { id = p.MaQuyen })),
                    grid.Column(format: p => Html.ActionLink("Xóa", "Xoa", new { id = p.MaQuyen }))
                    )
                )
            </div>
        }
    </div>
</div>

